<div class="ui container" style="padding-top:100px">
	<!-- steps -->
	<div class="ui fluid steps">
	  <div class="{{disabled[0]}} {{active[0]}} {{completed[0]}} step">
	    <i class="calendar icon"></i>
	    <div class="content">
	      <div class="title">Time</div>
	      <div class="description">Choose your preferred timing</div>
	    </div>
	  </div>
	  <div class="{{disabled[1]}} {{active[1]}} {{completed[1]}} step">
	    <i class="users icon"></i>
	    <div class="content">
	      <div class="title">Plan</div>
	      <div class="description">Choose a payment plan</div>
	    </div>
	  </div>
	  <div class="{{disabled[2]}} {{active[2]}} {{completed[2]}} step">
	    <i class="info icon"></i>
	    <div class="content">
	      <div class="title">Confirm Order</div>
				<div class="description">Confirm your order and pay</div>
	    </div>
	  </div>
	</div>

	<!-- step1 -->
	<div ng-if="active[0].length != 0" class="well well-sm">
		<center><div uib-datepicker ng-model="activityDate"  datepicker-options="dateOptions"></div></center>
		<div ng-if="activityDate">
			<h2 >Timings available on: {{activityDate | date:'fullDate'}}</h2>
			<div ng-if="activityDate.getDay()==0">
				<div  ng-if="timing.day=='Sunday'" class="radio" ng-repeat="timing in activity.timings">
					<label><input type="radio">from {{Math.floor(timing.startTime/60)}}:{{timing.startTime%60}} to {{Math.floor((timing.startTime+activity.durationInMinutes)/60)}}:{{(timing.startTime+activity.durationInMinutes)%60}}</label>
				</div>
			</div>
			<div ng-if="activityDate.getDay()==1">
				<div  ng-if="timing.day=='Monday'" class="radio" ng-repeat="timing in activity.timings">
					<label><input type="radio">from {{Math.floor(timing.startTime/60)}}:{{timing.startTime%60}} to {{Math.floor((timing.startTime+activity.durationInMinutes)/60)}}:{{(timing.startTime+activity.durationInMinutes)%60}}</label>
				</div>
			</div>
			<div ng-if="activityDate.getDay()==2">
				<div  ng-if="timing.day=='Tuesday'" class="radio" ng-repeat="timing in activity.timings">
					<label><input type="radio">from {{Math.floor(timing.startTime/60)}}:{{timing.startTime%60}} to {{Math.floor((timing.startTime+activity.durationInMinutes)/60)}}:{{(timing.startTime+activity.durationInMinutes)%60}}</label>
				</div>
			</div>
			<div ng-if="activityDate.getDay()==3">
				<div  ng-if="timing.day=='Wednesday'" class="radio" ng-repeat="timing in activity.timings">
					<label><input type="radio">from {{Math.floor(timing.startTime/60)}}:{{timing.startTime%60}} to {{Math.floor((timing.startTime+activity.durationInMinutes)/60)}}:{{(timing.startTime+activity.durationInMinutes)%60}}</label>
				</div>
			</div>
			<div ng-if="activityDate.getDay()==4">
				<div  ng-if="timing.day=='Thursday'" class="radio" ng-repeat="timing in activity.timings">
					<label><input type="radio">from {{Math.floor(timing.startTime/60)}}:{{timing.startTime%60}} to {{Math.floor((timing.startTime+activity.durationInMinutes)/60)}}:{{(timing.startTime+activity.durationInMinutes)%60}}</label>
				</div>
			</div>
			<div ng-if="activityDate.getDay()==5">
				<div  ng-if="timing.day=='Friday'" class="radio" ng-repeat="timing in activity.timings">
					<label><input type="radio">from {{Math.floor(timing.startTime/60)}}:{{timing.startTime%60}} to {{Math.floor((timing.startTime+activity.durationInMinutes)/60)}}:{{(timing.startTime+activity.durationInMinutes)%60}}</label>
				</div>
			</div>
			<div ng-if="activityDate.getDay()==6">
				<div  ng-if="timing.day=='Saturday'" class="radio" ng-repeat="timing in activity.timings">
					<label><input type="radio">from {{Math.floor(timing.startTime/60)}}:{{timing.startTime%60}} to {{Math.floor((timing.startTime+activity.durationInMinutes)/60)}}:{{(timing.startTime+activity.durationInMinutes)%60}}</label>
				</div>
			</div>

		</div>
	</div>
	<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
	.uib-day button, .uib-month button, .uib-year button {
		background-color: limegreen;
	}
	.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
		background-color: #31b0d5;
border-color: #269abc;
	}
	table{
		width: 700px;
    height: 300px;
	}
</style>
	<!-- step2 -->
	<div ng-if="active[1].length != 0">
		step2
	</div>

	<!-- step3 -->
	<div ng-if="active[2].length != 0">
		step3
	</div>

</div>
