<div class="ui container" style="padding-top:100px">
	<div class="ui fluid steps">
	  <div class="{{disabled[0]}} {{active[0]}} {{completed[0]}} step">
	    <i class="calendar icon"></i>
	    <div class="content">
	      <div class="title">Time</div>
	      <div class="description">Choose your preferred timing</div>
	    </div>
	  </div>
	  <div class="{{disabled[1]}} {{active[1]}} {{completed[1]}} step">
	    <i class="users icon"></i>
	    <div class="content">
	      <div class="title">Plan</div>
	      <div class="description">Choose a payment plan</div>
	    </div>
	  </div>
	  <div class="{{disabled[2]}} {{active[2]}} {{completed[2]}} step">
	    <i class="info icon"></i>
	    <div class="content">
	      <div class="title">Confirm Order</div>
				<div class="description">Confirm your order and pay</div>
	    </div>
	  </div>
	</div>
</div>
