<!-- start top Landing Page search gifs section -->
  <top-search-gif></top-search-gif>
<!-- End search gifs section -->

<!-- start statistics section -->
<!--needed scripts for counting animation-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

  <statistics></statistics>
<!-- End statistics section -->

<!-- map secion-->
<map></map>
