<!-- start top Landing Page search gifs section -->
  <top-search-gif></top-search-gif>
<!-- End search gifs section -->

<!--start steps section-->

<section style="width:98%;display:block;text-align: -webkit-center; padding-top:20px; padding-bottom:20px">
  <div class="steps-block wow flipInX animated" data-wow-duration="1s">
    <i class="fa fa-search step-icon" aria-hidden="true"></i>
    <h3>1. Search</h3>
    <h4>Find nearby activities that suit your taste and budget</h4>
  </div>
  <div class="steps-block wow flipInX animated" data-wow-duration="1s" data-wow-delay="0.5s">
    <i class="fa fa-bicycle step-icon" aria-hidden="true"></i>
    <h3>2. Choose</h3>
    <h4>Browse handreds of activities you like</h4>
  </div>
  <div class="steps-block wow flipInX animated" data-wow-duration="1s" data-wow-delay="1s">
    <i class="fa fa-money step-icon" aria-hidden="true"></i>
    <h3>3. Pay</h3>
    <h4>Find suitable/safe payment methods in just few click!</h4>
  </div>
  <div class="steps-block wow flipInX animated" data-wow-duration="1s" data-wow-delay="1.5s">
    <i class="fa fa-child step-icon" aria-hidden="true"></i>
    <h3>4. Enjoy</h3>
    <h4>Enjoy your experience with those you love</h4>
  </div>
  <div class="steps-block wow flipInX animated" data-wow-duration="1s" data-wow-delay="2s">
    <i class="fa fa-question-circle step-icon" aria-hidden="true"></i>
    <h3>Any problem?</h3>
    <h4>we're here to help 24/7 through our bot</h4>
  </div>
</section>


<style>
.steps-block{
  display: inline-block;
  width:18%
}
.step-icon{
  display:block;
  color: #e9b232;
  font-size: 80px;
  text-align: -webkit-center;
}
</style>

<!--end steps section-->

<!-- start statistics section -->
<!--needed scripts for counting animation-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

  <statistics></statistics>
<!-- End statistics section -->

<!-- map secion-->
<map></map>
