<section id="sliderSection">
  <div class="mainslider_area">
    <!-- Start super slider -->
    <div id="slides">
      <ul class="slides-container">
        <!-- Start single slider-->
        <li>
          <img src="img/slider/1.jpg" alt="img">
          <div class="slider_caption">
            <h2><span>Welcome To</span> WpF Bgness</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
            <a class="slider_btn" href="#">Read More</a>
          </div>
        </li>
        <!-- Start single slider-->
        <li>
          <img src="img/slider/3.jpg" alt="img">
           <div class="slider_caption">
            <h2>Beautiful <span>Clear and Flexible</span></h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
            <a class="slider_btn" href="#">Read More</a>
          </div>
          </li>
        <!-- Start single slider-->
        <li>
          <img src="img/slider/2.jpg" alt="img">
           <div class="slider_caption">
            <h2><span>Beausiness</span> & Corporate</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
            <a class="slider_btn" href="#">Read More</a>
          </div>
         </li>
      </ul>
      <nav class="slides-navigation">
        <a href="#" class="next"></a>
        <a href="#" class="prev"></a>
      </nav>
    </div>
  </div>
</div>
</section>
